@import "../../styles/variables.scss";

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    .circle1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $first-inner-box;
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

}

