// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

// BOX BG
$first-box: #4A486F;
$second-box: #895260;
$third-box: #547186;
$fourth-box: #9E8562;

// INNER BG
$first-inner-box: #5B68FF;
$second-inner-box: #EF2B58;
$third-inner-box: #1B8BE3;
$fourth-inner-box: #FFA427;